<header class="section py-6">
  <div class="container">
    <div class="level">
      <div class="level-left">
        <h1 class="title is-1">¿Cuánto me puedo hipotecar?</h1>
      </div>
      <div class="level-right">
        <figure class="image is-96x96"><img class="" src="./assets/hmm.png" alt="Thinking face emoji"/></figure>
      </div>
    </div>
    <h4 class="subtitle is-4">
      Con esta herramienta puedes averiguar cuanto es lo máximo que te va a prestar el banco para una casa, según tus ingresos
    </h4>
  </div>
</header>
