<article class="section calculator">
  <div *ngIf="isInfo">
    <app-info-panel (event)="toggleInfo($event)"></app-info-panel>
  </div>
  <div *ngIf="isFormula">
    <app-formula-panel (event)="toggleFormula($event)"></app-formula-panel>
  </div>
  <div class="container">
    <div id="visible-fields">
      <div class="field">
        <label class="label">Ingresos netos mensuales:</label>
        <div class="control">
          <input
            class="input is-medium"
            type="number"
            placeholder="1500"
            min="0"
            [(ngModel)]="income"
            (input)="checkSend()"
            id="incomeInput"
          />
        </div>
        <p>
          ¿No conoces tus ingresos netos?
          <a
            href="https://cincodias.elpais.com/herramientas/calculadora-sueldo-neto/"
            target="blank"
            >Calcúlalos gratis aquí</a
          >
        </p>
      </div>
      <div class="field">
        <label class="label"
          >Intereses anuales a <em>tipo fijo</em> (TIN):</label
        >
        <div class="control">
          <input
            class="input is-medium"
            type="number"
            placeholder="2.0"
            min="0"
            [(ngModel)]="ipa"
            (input)="checkSend()"
            id="ipaInput"
          />
        </div>
        <p>
          ¿No tienes claro el TIN?
          <a
            href="https://www.idealista.com/hipotecas/comparador-hipotecas/"
            target="blank"
            >Empieza buscando ofertas aquí</a
          >
        </p>
      </div>
      <div class="field">
        <label class="label">Años:</label>
        <div class="control">
          <input
            class="input is-medium"
            type="number"
            placeholder="30"
            min="0"
            [(ngModel)]="years"
            (input)="checkSend()"
            id="yearsInput"
          />
        </div>
        <p>A más años pagarás más intereses</p>
        <p
          *ngIf="yearsFloat > 30"
          class="has-text-danger has-text-weight-semibold"
        >
          Es improbable que el banco te conceda un préstamo a más de 30 años.
          <a
            href="https://www.rastreator.com/hipotecas/articulos-destacados/hipotecas-40-anos"
            target="blank"
            >Más info</a
          >
        </p>
      </div>
    </div>
    <div *ngIf="!showExtras" class="field">
      <a class="label" (click)="toggleExtras(!showExtras)"
        >Ver más opciones ...
        <i class="fa fa-angle-down" style="font-size: 30px"></i
      ></a>
    </div>
    <div *ngIf="showExtras" class="field">
      <a class="label" (click)="toggleExtras(!showExtras)"
        >Ocultar ... <i class="fa fa-angle-up" style="font-size: 30px"></i
      ></a>
    </div>
    <div id="hidden-fields" *ngIf="showExtras" class="mb-5">
      <div class="field">
        <label class="label">Porcentaje de endeudamiento</label>
        <div class="control">
          <input
            class="input"
            type="number"
            placeholder="30"
            min="0"
            max="100"
            [(ngModel)]="debtPercent"
            (input)="checkSend()"
            id="debtPercentInput"
          />
        </div>
        <p class="help">
          Porcentaje de tus ingresos que vas a dedicar a pagar tu letra
        </p>
        <p
          *ngIf="debtFloat > 30"
          class="has-text-danger has-text-weight-semibold"
        >
          Es improbable que el banco te deje endeudarte más del 30%.
          <a
            href="https://www.fintonic.com/blog/cuanto-dinero-debo-destinar-a-la-hipoteca/"
            target="blank"
            >Más info</a
          >
        </p>
      </div>
      <div class="field">
        <label class="label">Porcentaje de financiación</label>
        <div class="control">
          <input
            class="input"
            type="number"
            placeholder="80"
            min="0"
            max="100"
            [(ngModel)]="financePercent"
            (input)="checkSend()"
            id="financePercentInput"
          />
        </div>
        <p class="help">
          Porcentaje del precio de la vivienda que va a financiar el banco
        </p>
        <p
          *ngIf="financeFloat > 80"
          class="has-text-danger has-text-weight-semibold"
        >
          Es improbable que el banco te preste más del 80%
          <a
            href="https://www.helpmycash.com/hipotecas/hipotecas-mas-del-80/"
            target="blank"
            >Más info</a
          >
        </p>
      </div>
    </div>
    <div class="columns">
      <div class="column is-8">
        <button
          class="button is-medium is-fullwidth is-primary"
          (click)="submitMortgage()"
          [disabled]="!canSend"
        >
          Calcular
        </button>
      </div>
      <div class="column is-2">
        <a
          class="button is-medium is-fullwidth is-dark is-outlined"
          (click)="clearFields()"
          >Borrar</a
        >
      </div>
      <div class="column is-2">
        <a
          class="button is-medium is-fullwidth is-info is-outlined"
          (click)="toggleInfo(true)"
          >Más info...</a
        >
      </div>
    </div>
  </div>

  <div class="section container" *ngIf="monthlyPayment">
    <div class="content is-large" id="result-panel">
      <ul>
        <li>
          La cuota mensual máxima que te puedes permitir es:
          <strong
            >{{
              monthlyPayment ? monthlyPayment.toFixed(2) : '0.00'
            }}
            euros</strong
          >.
        </li>
        <li>
          El precio máximo de la vivienda que puedes permitirte es
          <strong> {{ maxHousePrice.toFixed(2) }} euros</strong>:
          <ul>
            <li>
              Un {{ mortgage.percent * 100 }}% que te prestará el banco 👉
              <strong>{{
                (maxHousePrice * mortgage.percent).toFixed(2)
              }}</strong>
              euros
            </li>
            <li>
              Un {{ 100 - mortgage.percent * 100 }}% que aportarás de tus
              ahorros 👉
              <strong>{{
                (maxHousePrice * (1 - mortgage.percent)).toFixed(2)
              }}</strong>
              euros
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="column is-3">
      <a
        class="button is-medium is-fullwidth is-info is-outlined"
        (click)="toggleFormula(true)"
        >Explícame la fórmula...</a
      >
    </div>
  </div>
</article>
