<div class="modal is-active">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Modal title</p>
        <button class="delete" aria-label="close" (click)="closeModal()"></button>
      </header>
      <section class="modal-card-body">
        <p>hello modal</p>
      </section>
      <footer class="modal-card-foot">
        <button class="button" (click)="closeModal()">Close</button>
      </footer>
    </div>
  </div>