<div class="modal is-active">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Debes tener en cuenta...</p>
      <button class="delete" aria-label="close" (click)="closeModal()"></button>
    </header>
    <section class="modal-card-body">
      <div class="content">
        <ul>
          <li>
            En circunstancias normales, los bancos solo te financiarán el 80% de
            la menor de estas cantidades: el precio de compraventa o el precio
            de tasación
          </li>
          <li>
            En circunstancias normales, los bancos solo te concederán el
            préstamo si la letra de la hipoteca no supera el 30% de tus
            ingresos, aunque el Banco de España permite endeudarse hasta un 40%.
          </li>
          <li>
            En caso de tener otros préstamos, la suma de todos los pagos más la
            letra de la hipoteca no deben superar el 30% de tus ingresos
          </li>
          <li>
            Los bancos te prestarán un 80% de la
            <span class="has-text-weight-bold">menor</span> de estas cantidades:
            el precio de compraventa o el precio de tasación. Si la tasación es
            inferior precio de compraventa, tendrás que aportar la diferencia de
            tus ahorros.
          </li>
        </ul>
      </div>
    </section>
    <footer class="modal-card-foot">
      <button class="button" (click)="closeModal()">Vale</button>
    </footer>
  </div>
</div>
