/* You can add global styles to this file, and also import other style files */
html, body {
    height: 100%;
}
.main-content {
    height: 100%;
}
footer {
    height: 40vh;
}
article {
    min-height: 60vh;
}